name: E2E Tests

on:
  push:
    branches:
      - master
      - 'rel/*'
  pull_request:
    branches:
      - master
      - 'rel/*'
  # allow manually run the action:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    name: e2e test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Integration test
      run: |
        make e2e_test e2e_test_clean
